body {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}

li {
  list-style-type: none;
}

hr {
  margin-left: 9%;
  margin-right: 9%;
}

button {
  font-family: "Fira Sans", sans-serif;
  border: none;
  cursor: pointer;
}

input[type="text"] {
  border: none;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -khtml-border-radius: 16px;
  background: #efefef !important;
  outline: none;
  height: 35px;
  width: 20vw;
  color: #1c1c1c;
  font-size: 2rem;
  padding: 1vw;
}

.header h1,
p {
  margin: 0;
}

.header h1 {
  font-size: 28px;
  font-weight: 700;
}

.header p {
  font-size: 12px;
  font-weight: 500;
}

body {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 30px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  width: 30%;
  gap: 25%;
}

.navigation li {
  /* margin-right: 60px; */
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.banner {
  display: flex;
  flex-direction: row;
  gap: 50px;
  backdrop-filter: blur(5px);
  margin-top: 20px;
}

.banner-left-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 9%;
  padding-top: 130px;
}

.banner-left-side h1 {
  font-size: 72px;
  margin: 0;
  font-weight: 700;
}

.banner-left-side p {
  font-size: 18px;
  margin: 0;
  font-weight: 400;
}

.banner-left-side button {
  width: 300px;
  height: 60px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #e4e4e4;
  border: none;
}

.banner-left-side button:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

.first-button {
  margin-top: 48px;
}

.second-button {
  margin-top: 10px;
}

.banner-left-side-bot {
  display: flex;
  gap: 15px;
  margin-top: 24%;
}

.banner-left-side-bot div {
  width: 20px;
  height: 20px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
}

.banner-left-side-bot div:hover {
  background-color: #1c1c1c;
}

.banner-right-side {
  width: 40%;
  min-width: 700px;
  height: 750px;
  margin-top: 24px;
}

.banner-img {
  background-image: url(/img/happy-family.jpg);
  margin-left: 9%;
  margin-right: 9%;
}

.togle-section {
  display: flex;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 150px;
}

.togle-section div {
  height: 35px;
  width: auto;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #787878;
  cursor: pointer;
}

.togle-section div:hover {
  color: #1c1c1c;
}

.information {
  padding-left: 9%;
  padding-right: 9%;
}

.information h1 {
  font-size: 56px;
  font-weight: 600;
}

.tile {
  display: grid;
  width: auto;
  grid-template-columns: 1fr 1fr;
}

.tile-element {
  background-color: #1c1c1c;
  /* border-radius: 12px; */
  height: 120px;
  margin-right: 10px;
  padding-left: 40px;
  display: flex;
  align-items: center;
}

.tile-element h1,
.broken-par {
  align-self: flex-end;
}

.tile-element p {
  padding-bottom: 50px;
  margin-left: 10px;
}

.tile-element.top {
  background-color: #f3f3f3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tile-element.mid {
  background-color: #e3e3e3;
}

.tile-element.bot {
  background-color: #d0d0d0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tile:hover {
  gap: 10px;
  .tile-element {
    border-radius: 12px;
  }
}

.information article {
  margin-top: 4%;
  font-size: 18px;
  font-weight: 400;
}

.our-services-button {
  width: 300px;
  height: 60px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  background-color: #e4e4e4;
  border: none;
  margin-top: 2%;
}

.strange-div {
  height: 35px;
  width: 145px;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 16px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;
  cursor: pointer;
}

.our-services h1,
ul,
li {
  margin: 0;
  padding: 0;
}

.our-services {
  padding-left: 9%;
  padding-right: 14%;
  margin-top: 40px;
  /* display: grid;
  grid-template-columns: 2fr 3fr; */
  display: flex;
  gap: 15vw;
}

.services li h1 {
  font-size: 56px;
  font-weight: 700;
  cursor: pointer;
  color: #787878;
}

.services li h1:hover {
  padding-left: 4%;
  color: #1c1c1c;
}

.our-services article {
  margin-top: 7%;
  font-size: 18px;
  font-weight: 500;
}

.our-services-right-side {
  padding-left: 9%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  padding-left: 4%;
}

.circle {
  background-color: #1c1c1c;
}

.our-services-right-side div {
  width: 20vw;
  height: 225px;
  background-color: #efefef;
  border-radius: 16px;
}

.our-services h2 {
  padding-top: 35%;
  padding-left: 5%;
}

.consultation {
  margin-left: 9%;
  margin-right: 9%;
  background-color: #f3f3f3;
  height: 330px;
  margin-top: 150px;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.con-left-side {
  display: flex;
  align-items: center;
  padding: 5%;
}

.con-banner {
  height: 280px;
  width: 18vw;
  background-color: #d0d0d0;
  border-radius: 12px;
}

.con-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5vw;
}

.con-right-side h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
  padding-top: 5%;
}

.con-right-side p {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.order-con {
  height: 60px;
  width: 30%;
  background-color: #1c1c1c;
  border-radius: 16px;
  cursor: pointer;
  background-color: #d0d0d0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5%;
}

.order-con:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

.contact-us-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 9%;
  padding-right: 9%;
  margin-top: 250px;
}

.contact-right h5 {
  margin: 0;
}

.contact-left h1 {
  font-size: 72px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 32px;
}

.contact-left p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 48px;
}

.contact-left h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 10px;
}

.contact-right {
  margin-top: 2%;
}

.contact-left button {
  height: 60px;
  width: 45%;
  border-radius: 16px;
  background-color: #e4e4e4;
  color: #1c1c1c;
  font-size: 16px;
  font-weight: 500;
}

.contact-left button:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form h5 {
  padding-bottom: 3%;
  padding-left: 3%;
  font-size: 18px;
  font-weight: 500;
}

.contact-form {
  gap: 3%;
}

.range {
  height: 80px;
  width: 380px;
  padding: 0 65px 0 45px;
}

.sliderValue {
  position: relative;
  width: 100%;
}

.sliderValue span {
  position: absolute;
  height: 45px;
  width: 45px;
  /* background-color: #a8eb54; */
  font-weight: 500;
  font-size: 14px;
  color: #000000;
  top: -40px;
  transform: translateX(-50%);
  line-height: 55px;
  z-index: 2;
}

.sliderValue span.show {
  transform: translateX(-70%) scale(1);
}

.sliderValue span:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  left: 50%;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.range .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.range .field input {
  -webkit-appearance: none;
  height: 8px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.range .field .value {
  position: absolute;
  font-size: 14px;
  font-weight: 500;
  color: #000000;
}

.range .field .value.left {
  left: -43px;
}

.range .field .value.right {
  right: -48px;
}

.range .field input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: #a8eb54;
  border-radius: 50%;
  cursor: pointer;
}

.calculator {
  padding-left: 9%;
  padding-right: 9%;
}

.calculator-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 235px;
}

.calculator-text h1 {
  font-size: 56px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.calculator-text p {
  font-size: 18px;
  font-weight: 400;
  margin-top: 2%;
}

.calculator-togle div {
  width: 10vw;
  height: 70px;
  background-color: #e4e4e4;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: none;
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;
  cursor: pointer;
  padding-right: 3%;
  padding-left: 3%;
}

.calculator-togle div:hover {
  background-color: #1c1c1c;
  color: #ffffff;
}

.calculator-togle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4vw;
  margin-top: 48px;
  margin-bottom: 48px;
}

.calculator-block {
  display: flex;
  justify-content: space-between;
}

.calculator-left {
  background-color: #fafafa;
  padding: 2%;
  border-radius: 12px;
}

.calculator-right {
  margin-right: -3vw;
  background-color: #fafafa;
  padding: 2%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.part {
  width: 120px;
  height: 90px;
  background-color: #ffffff;
  border-top: solid;
}
.block p {
  position: absolute;
}

.empty {
  border: none;
  height: 0;
}

.income {
  background-color: #e4e4e4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  position: absolute;
  top: 0px;
}

.sickness {
  background-color: #e4e4e4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  position: absolute;
  top: 0px;
}

.critical {
  background-color: #e4e4e4;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border: none;
  position: absolute;
  top: 0px;
}

.block {
  position: relative;
}
.contribution {
  margin-top: 90px;
}
